body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/RAT.jpg);
}

h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#RegisterView {
  display: none;
}

#LoginView {
  display: block;
}

#outerHeader {
  width:100%;
  display: flex;
  justify-content: center;
}

#Logo {
  border: 5px solid #560504;
  width: 20%;
}

#MainContainer {
  color: #E5E7E6;
  background-color: #141301e2;
  background-blend-mode: overlay;
  padding: 2%;
}

table.NavTable {
  width:100%;
  background-color: #141301e2;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #B80C09;
  border-style: dotted;
  color: #FFFFFF;
  text-align: center;
  align-content: center;
  font-size: larger;
}

table.NavTable {
  margin-top: 10%;
}

table.NavTable td * {
  font-family: 'Cinzel', sans-serif;
  color: whitesmoke;
}

table.NavTable td {
  border-width: 2px;
  border-color: #B80C09;
  border-style: dotted;
  padding: 3px;
}

#PageName{
  text-align: center;
  font-size:xx-large;
}

#WelcomeText {
  color: #B7b5B3;
  text-align: center;
  font-size: large;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
}
.text-column {
  flex: 1;
  margin-right: 20px;
  font-size: xx-large;
  text-align: center;
}
.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-column img {
  width: 80%;
  height: auto;
}

.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.object-container {
  display: flex;
}

.left-object, .right-object {
  flex: 1;
  width: 40%;
}

.right-object img {
  width: 100%;
}

.left-object, .right-object {
  margin-right: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
}

#RecipePageImage {
  height: 40%;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#BasketIcon {
  position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
#BasketIcon img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
}

.PrettyButton{
  --b: 3px;   
  --s: .45em; 
  --color: #FFFFFF;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.PrettyButton:hover,
.PrettyButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.PrettyButton:active{
  background: var(--color);
  color: #fff;
}

