body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/RAT.jpg);
}

h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#RegisterView {
  display: none;
}

#LoginView {
  display: block;
}

#outerHeader {
  width:100%;
  display: flex;
  justify-content: center;
}

#Logo {
  border: 5px solid #560504;
  width: 20%;
}

#MainContainer {
  color: #E5E7E6;
  background-color: #141301e2;
  background-blend-mode: overlay;
  padding: 2%;
}

table.NavTable {
  width:100%;
  background-color: #141301e2;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #B80C09;
  border-style: dotted;
  color: #FFFFFF;
  text-align: center;
  align-content: center;
  font-size: larger;
}

table.NavTable {
  margin-top: 10%;
}

table.NavTable td * {
  font-family: 'Cinzel', sans-serif;
  color: whitesmoke;
}

table.NavTable td {
  border-width: 2px;
  border-color: #B80C09;
  border-style: dotted;
  padding: 3px;
}

#PageName{
  text-align: center;
  font-size:xx-large;
}

#WelcomeText {
  color: #B7b5B3;
  text-align: center;
  font-size: large;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
}
.text-column {
  flex: 1;
  margin-right: 20px;
  font-size: xx-large;
  text-align: center;
}
.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-column img {
  width: 80%;
  height: auto;
}

.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.object-container {
  display: flex;
}

.left-object, .right-object, .right-object img {
  flex: 1;
  width: 40%;
}

.left-object, .right-object {
  margin-right: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
}

#RecipePageImage {
  height: 40%;
  width: 100%;
}