doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/edm.js", defer)
  body
    h1(id="outerHeader")
      img(
        id="Logo"
        src="/images/chef-rat.jpg"
      )
    table(class="NavTable")
      tbody 
        tr 
          td
            a(href="/") Home
          td
            a(href="/search") Search For A Recipe
          td
            if loggedInBool == true
              a(id="userProfile", href="/profile") Profile
            else 
              a(id="userLoginOrReg", href="/loginorregister") Login / Register
    p
    article(id="MainContainer")
      block content
  footer 
    table(class="NavTable")
      tbody 
        tr 
          td
            a(href="/") Home
          td
            a(href="/search") Search For A Recipe
          td
            if loggedInBool == true
              a(id="userProfile", href="/Profile") Profile
            else 
              a(id="userLoginOrReg", href="/LoginorRegister") Login / Register
