extends layout 

block content
    if orders.length > 0
        .recipe-container
        each item in orders
            .order 
                h3(id=item.OID)= item.OID
                    br
                    a(href="/orders/"+item.OID, class="PrettyButton") View Order Details 
    - else 
        h3 No Orders Found
    br
    br