extends layout

block content
    h1(id=order.OID)= order.OID
    p= order.Description
    br
    h2 Items and Quantity:
    each item in order.Ingredients 
        p= item.RID + " : x" + item.quantity