extends layout

block content
  h1= 'Hello ' + userData.Username
  br
  hr
  br
  article(id=ProfileData)
    p= userData.FullName 
    p= userData.Email
  br
  br
  a(id="LogoutBTN", class="PrettyButton", href="/loginorregister/logout") Log Out