extends layout

block content
  h1 Search For Recipes
  each item in recipes
    h3(id=item.RID) item.RecipeName
    p item.Description
    br
    each ingredient in item.Ingredients 
      p ingredient
  br
  br